* {
  background-color: #000000;
  color: #ffffff;
}

.site {
  min-height: 100dvh;
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  grid-template-rows: auto 1fr auto;
}

:where(body) {
  hyphens: auto;
  overflow-wrap: break-word;
}
